{% extends 'products/general.html' %}

{% block content %}
<h5>
  {{ product.name }}
</h5>

<div class="row">
  <div class="col l8  m12 s12">
    <p>
      {{product.description}}
    </p>
  </div>
  <div class="col l4 m12 s12">
    <table style="">
      <tr>
        <th>Name</th>
        <td>{{product.name}}</td>
      </tr>
      <tr>
        <th>Value</th>
        <td>R$ {{product.value}}</td>
      </tr>
    </table>
  </div>
</div>
<!-- edit button -->
<div class="row grey lighten-3" style="padding:1em; margin-bottom:0;">
  <div class="col l3" style="padding:0;">
    <a class="waves-effect waves-light btn" style=' width:100%;' href="{% url 'product_update' product.id %}">
      <i class="material-icons right">edit</i>edit
    </a>
  </div>
  <!-- delete button -->
  <div class="col l3 text-white">
    <a id="delete-btn" class="waves-effect waves-light btn" style='width:100%;'>
      <i class="material-icons right">delete</i>delete
    </a>
  </div>
</div>
<!-- delete forever button -->
<div id="areyousure" class="row grey lighten-3" style="padding:1em; display:none;">
  <div class="col l3" style="padding:0;">
    <form action="{% url 'product_detail' product.id%}" method='POST'>
      {% csrf_token %}
      <button name="delete-forever-btn" type='submit' id='delete-forever-btn'class="red darken-2 waves-effect waves-light btn" style="width:100%;"><i class="medium material-icons right">delete_forever</i>Yes, Delete!
      </a>
      </button>
    </form>
  </div>
  <!-- keep button -->
  <div class="col l3">
    <a id="cancel-delete-btn" class="green darken-1 waves-effect waves-light btn" style="width:100%;">
      <i class="material-icons right">keyboard_arrow_up</i>No, keep it.
    </a>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#delete-btn").click(function() {
      $("#areyousure").fadeIn('fast');
    });
    $("#cancel-delete-btn").click(function() {
      $("#areyousure").fadeOut('fast');
    });
    $("#delete-forever-btn").click(function() {
      alert('Product Deleted!');
    });
  })
</script>
{% endblock %}
